/*  your css code here. If applicable */
table,td{
	border:1px solid black;
	}
table,tr{border:1px solid black;
	}
#t11,#t12,#t13,#t21,#t-image{
	padding:1px;
}
.first{background-color:green;}
.second{background-color:blue;}